{% extends "base.html" %}

{% block announce %}
 A new dataset has been uploaded 🎉. Check it out <a href="https://docs.bladesight.com/tutorials/datasets/diamond_et_al_2024_vary_ramp_rates_45/" target=_blank>here </a>  
 . Please upgrade to Bladesight v0.15.0.
{% endblock %}

{% block extrahead %}
  {% if page and page.meta and page.meta.robots %}
    <meta name="robots" content="{{ page.meta.robots }}" />
  {% else %}
    <meta name="robots" content="index, follow" />
  {% endif %}
{% endblock %}
